.wrapper {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.header {
	margin-bottom: 32px;
}

.optionWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.submitButton {
	margin-top: 16px;
	font-weight: bold;
}
